<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results!</title>
  </head>
  <body>
    <h3>Submitted Information</h3>
    <table width = 250>
      <th>
      <tr></tr>
      <tr></tr>
      </th>
      <tbody>
        <tr>
          <td>Name:</td>
          <td><%= data.name%></td>
        </tr>
        <tr>
          <td>Dojo Location:</td>
          <td><%= data.location %></td>
        </tr>
        <tr>
          <td>Favorite Language:</td>
          <td><%= data.fav_lang %></td>
        </tr>
        <tr>
          <td>Comment:</td>
          <td><%= data.comment %></td>
        </tr>
      </tbody>
    </table>
    <form class="" action='/back' method="post">
      <button type="submit" name="button">Go Back</button>
    </form>
  </body>
</html>
